<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
(function($) {
    $(document).ready(function() {

        // BELOW IS THE jQUERY PLUGIN FOR AUTO SCROLLING
        $('.scroll').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 500); // The higher the number, the slower the scroll
                return false;
                }
            }
        });
    });

})(jQuery)


</script>
<style>
  @import url('https://fonts.googleapis.com/css?family=Oxygen');

html, body {
    margin:0;
    padding:0;
    height:100%;
    font-family: 'Oxygen', sans-serif;
} 
.home-page {
    background:url("https://media.giphy.com/media/l3V0mnnGcVblF8bAI/giphy.gif") no-repeat center center fixed;
    text-align:center;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Oxygen', sans-serif;
  height:100%;
}
.home-header {
    color:white;
    font-size:70px;
    padding-top:0%;
}
.home-tagline {
    color:white;
    font-size:35px;

}
.home-h1 {
    margin:0;
}
button {
    font-family: 'Oxygen', sans-serif;
    color:white;
    border:2px solid lightblue;
    background:transparent;
    padding:10px 25px 10px 25px;
    font-size:15px;
}
button:hover {
    color: white;
    border:2px solid black;
    background: lightblue;
    padding:10px 25px 10px 25px;
    font-size:15px;
}
a:link {
    text-decoration:none;
    font-weight:bold;
    color: white;
}
a:visited { 
    color: white;
}

.page-2 {
    background:url("http://www.mrwallpaper.com/wallpapers/pool-sunset-resort.jpg") no-repeat center center fixed;
    text-align:center;
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Oxygen', sans-serif;
    height:100%;
}
.home-header2 {
    color:SKYBLUE;
    font-size:70px;
    padding:0;
    margin:0;
}
.home-h2 {
    margin:0;
}
.home-tagline2 {
    color:white;
    font-size:35px;
}
</style>
</head>
<body>
<div class="home-page">
    <div class="home-header">
        <h1 class="home-h1">Swimming</h1>
    </div>

    <div class="home-tagline">
        <h3>The best sport.</h3>
    </div>

    <div class="home-button">
        <button><a href="#page-2" class="scroll">Why is swimming the best sport?</a></button>
    </div>
</div>


<!-- PAGE 2 starts! -->
<a name="page-2"><div class="page-2"></a>
    <div class="home-header2">
        <h1 class="home-h2">A few reasons are...</h2>
    </div>

    <div class="home-tagline2">
        <h3>First off, it is good for aerobic exercise. Second, it makes you more flexible. Third, it increases your lung capacity, helping asthma. Another reason is reducing diabetes risk. Also, it improves your mental health, such as your mood. Last but not least, you can lose weight.</h3>
    </div>
</div>

</body>
</html>

